$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 30px;
  background: repeating-linear-gradient(to bottom, red, red 90px, white 90px, white 180px);
}

/* Tabs */
ul.nav li{
  border-bottom: none !important;
  background-color: #fff;
  cursor: pointer;
}
ul.nav li:first-child{
    border: 10px solid #0070c0;
}
ul.nav li:nth-child(2){
    border: 10px solid black;
}
ul.nav li:last-child{
  border: 10px solid red;
}
.tab-pane{
  padding: 20px;
  min-height: 400px;
  background-color: #fff;
  height: 400px;
}
.tab-pane#hillary{
  border: 10px solid #0070c0;
}
.tab-pane#home{
  border: 10px solid black;
  text-align: center;
  position: relative;
  padding: 0;

  h1{
    font-size: 60px;
    position: relative;
    top: 30%;
  }
}
.tab-pane#donald{
  border: 10px solid red;
}

/* Tweets */
.tweet{
  border-bottom: 1px solid #ccc;
  padding-bottom: 7px;

  img{
    border-radius: 5px;
    margin:0 auto;
  }
  .name{
    display: block;
    color: #292f33;;

    .username{
      font-weight: 400;
      color: #8899a6;
    }

  }
}

.tweet-tab.invisible{
  height: 0;
  overflow: hidden;
}

.tweet-tab.visible{
  height: auto;
  overflow: none;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  text-align: center;

  img{
    margin: 0 auto;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
